<h2>Edit Contact</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">Name:</label>
    <input id="{{ userForm.get('name')?.value }}" formControlName="name" />
  </div>
  
  
  
    <div>
      <label for="mobilenumber">Mobile Number:</label>
      <input id="mobilenumber" formControlName="mobilenumber" />
      <div *ngIf="userForm.get('mobilenumber')?.hasError('required')" class="error">Mobile Number is required.</div>
      <div *ngIf="userForm.get('mobilenumber')?.hasError('pattern')" class="error">Mobile Number should contain only numbers.</div>
    </div>

    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" />
      <div *ngIf="userForm.get('email')?.hasError('required')" class="error">Email is required.</div>
      <div *ngIf="userForm.get('email')?.hasError('email')" class="error">Please enter a valid email address.</div>
     
    </div>

    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username" />
      <div *ngIf="userForm.get('username')?.hasError('required')" class="error">Username is required.</div>
    </div>

    <div>
      <label for="contactDateCreated">Date Created</label>
      <input id="contactDateCreated" formControlName="contactDateCreated" />
    </div>

     <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="isFavorite" />
            <label for="isFavorite">Favourite</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="isDeleted" />
            <label for="isDeleted">Deleted</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="isActive" />
            <label for="isActive">Active</label>
          </div>
        

          <button type="submit" [disabled]="!userForm.valid">Save Changes</button>
    
    
  </form>
  