.wrapper {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: 30px;
  padding: 50px;
  background-color: #ffb6c1;
  color:deeppink;
}

.logoutButton {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  

.container {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  padding: 20px;
  gap: 10px;
  max-height: 80vh;
  overflow-y: scroll;
  place-items: center;
  min-width: auto; 
  min-height: auto;
}

.user-container {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
  min-width: auto; 
  min-height: auto;
}
.btn {
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none; 
  
}

.removeButton {
  background-color:whitesmoke;
  border-style: solid;
  border-color: hotpink;
  border-radius: 5px;
  cursor: pointer; 
}

.updateButton {
  background-color:whitesmoke;
  border-style: solid;
  border-color: rgb(155, 10, 228);
  border-radius: 5px;
  cursor: pointer; 
}

