<div class="wrapper">
  <h2>List of all the users</h2>
  <div class="container">
    <ng-container *ngFor="let user of users">
      <div class="user-container">
        <button *ngIf="!user.isDeleted" class="btn"type="button"
          [routerLink]="['/users', user.id]"
          [ngStyle]="{ 'background-color': user.isActive ? 'green' : 'gray', color: 'white'}" >
          {{ user.name }}
        </button>
        <button *ngIf="!user.isDeleted" class="removeButton" type="button" (click)="removeUser(user.id)">
          Remove
        </button>
        <button *ngIf="!user.isDeleted" class="updateButton" type="button"  [routerLink]="['/edit-user', user.id]">
          Update
        </button>
      </div>
    </ng-container>
    <div class="divider"></div>
  </div>
</div>
