

    <div class="search-container">
    <input type="text" class="search-input" [(ngModel)]="searchTerm" placeholder="Search by name" />
    <button mat-raised-button (click)="openEditContact()">Add Contact</button>
</div>

    <section class="container contact-list-container">
        <div  *ngFor="let con of contactss | searchFilter:searchTerm" class="contactes" >
    
   
             <app-contact-card [contact]="con"  (sendData)="openAlert($event)">
              
            </app-contact-card>
            
        
        
        </div>
    </section> 


   

