<!-- src/app/login/login.component.html -->

<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <br>
  
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" name="email" formControlName="email"  required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" name="password" formControlName="password"  required>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
          <br>
          <hr>
          <p>Don't have account ? Click <a routerLink="/signup"> here </a> to sign up</p>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
