<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/main">TS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn  my-2 my-sm-0" type="submit" (click)="search.emit(searchContact)">Search</button>
    </form> -->

    <ng-container *ngIf="authService.isLoggedIn()">
      <select class="form-control" [(ngModel)]="selectedValue" (change)="onDropdownChange($event)">
        <option value="main" selected>Contact List</option>
        <option value="main/deleted-contacts">Deleted Contacts</option>
      </select>

      <button class="logout-button" (click)="confirmLogOut()">Log Out</button>
    </ng-container>
  </div>
</nav>