.form-control {
    width: 200px;
}

.logout-button {
    margin-left: 10px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(207, 207, 202);
    height: 40px;
}

.logout-button:hover {
   //background-color: rgb(147, 147, 147);
   background-color: rgb(130, 7, 7);
   color: azure;
}
