
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
  </head>
  <form>
  <body>
    <div class="signup-container">
      <h1>Sign Up</h1>
      <form [formGroup]="signupForm"  (ngSubmit)="signUpNewUser()">
        <label for="name">Full Name:</label>
        <input type="text" placeholder="Your Full Name" formControlName="name" id="name" name="name">
        <div *ngIf="signupForm.get('name')?.errors?.['required'] && signupForm.get('name')?.touched" class="error">Name is required </div>
        <label for="email">Email:</label>
        <input type="email" placeholder="Your Email"  formControlName="email" id="email" name="email">
        <div *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched" class="error">Email is required </div>
        <div *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched" class="error">Email must contain '@' and '.'</div>
        <div class="error" *ngIf="signupForm.get('email')?.hasError('uniqueEmail')"><p>Email is already used.</p></div>
        <label for="phone">Mobile Number:</label>
        <input type="tel" placeholder="Your Phone Number" formControlName="phone" id="phone" name="phone"><br>
        <div *ngIf="signupForm.get('phone')?.errors?.['required'] && signupForm.get('phone')?.touched" class="error">Number is required </div>
        <label for="password">Password:</label>
        <input type="password" placeholder="Your Password" formControlName="password" id="password" name="password"><br>
        <div *ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched" class="error">Password is required </div>
        <div *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched" class="error">Password must have at least 8 characters </div>
        <label for="role">Role:</label>
        <select id="role" name="role" formControlName="role">
          <option [value]="UserRole.User">User</option>
          <option [value]="UserRole.Admin">Admin</option>
        </select>
        <div *ngIf="signupForm.get('role')?.errors?.['required'] && signupForm.get('role')?.touched">Role is required</div>
        <br>
        <br>
        <button [disabled]="signupForm.invalid" type="submit" >Sign Up</button>
        <br>
        <br>
    <p>
      You already have an account? <a routerLink="">Log in</a> here.
    </p>
      </form>
    </div>
  </body>
</form>
