<!-- GREEN CONTACT IS ACTIVE-->
<div class="kontakt" *ngIf="!kontakt.isDeleted"
    [ngClass]="{'green':kontakt.isActive,'gray':!kontakt.isActive,'bold':kontakt.isFavorite}">
    <h3><a (click)="onContactClick(kontakt.id)">{{kontakt.name}}</a></h3>
    <input [(ngModel)]="input" placeholder="Write a note...">
    <h3> {{input}}</h3><br>
    <button (click)="getUserInformation()">Get User Infromation </button>
    <br><br>
    <!-- component interaction -->
</div>
    <app-userinfo  [userInformation]="userInformation"></app-userinfo> 



<!-- <div *ngIf="userInformation">
        <p>Name: {{userInformation.name}}</p>
        <p>Id: {{userInformation.id}}</p>
        <p>MobileNumber: {{userInformation.mobilenumber}}</p>
        <p>Date Of Birth: {{userInformation.contactDateCreated | date}}</p>
        <p>Username: {{userInformation.username}}</p>
        <p>Email: {{userInformation.email}}</p>
        <p>Active: {{userInformation.isActive}}</p>
        <p>Favorite: {{userInformation.isFavorite}}</p>
    </div> -->