<div [ngClass]="{'favorite': contact.isFavorite, 'active': contact.isActive}" class="contact-card">
    <div (click)="showAlert()">
        <strong *ngIf="contact.isActive; else inactive">{{ contact.name }}</strong>
        <ng-template #inactive>{{ contact.name }}</ng-template>
        <p>{{ contact.mobilenumber }}</p>
    </div>
    <input type="text" [(ngModel)]="inputField" placeholder="Comment">
    <div (click)="showAlert()">
        <button (click)="updateContact()">Update</button>
        <button (click)="confirmDelete()">Delete</button>
    </div>
</div>