.container {
  padding: 20px;
  margin-top: 50px;
 

  .row {
    display: flex;
    justify-content: center;

    .col-12 {
      background-color: pink;
      padding: 40px;
      border-radius: 8px;

      form {
        .row {
          display: flex;
          flex-wrap: wrap;

          .form-group {
            width: 100%;

            input {
              margin-bottom: 10px;
              padding: 10px;
              border: 1px solid #ffb6c1;
              border-radius: 4px;

              &.form-check-input {
                margin-right: 5px;
              }
            }

            .error-message {
              color: #ff1493;
              margin-top: 5px;
            }
          }

          .form-check {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;

            input {
              margin-right: 5px;
            }
          }

          .form-group-submit {
            width: 100%;
            margin-top: 15px;


            .submitButton {
              background-color: #ff1493;
              color: white;
              padding: 10px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              margin-right: 10px;

              &:disabled {
                background-color: #ccc;
                cursor: not-allowed;
              }
            }

            .resetButton {
              background-color: #ff1493;
              color: white;
              padding: 10px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;

            }
          }
        }
      }
      .form-control[type="date"]:focus {
        background-color: transparent; 
      }
    }
  }
}
