header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-bottom: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    flex: 1;
}

section {
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}

img {
    max-width: 80%;
    max-height: 80%;
    height: auto;
}

.info {
    margin-top: 20px;
}

.logout-button {
    margin-left: auto;
}
