<header>
    <h1>Contact List </h1>
</header>

<section class="container contact-list-container">
    <span><strong>Search contact: </strong></span>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name" />

    <div *ngFor="let contact of contacts | contactfilter:searchTerm">
        <ng-container *ngIf="!contact.isDeleted">
            <app-contact-card [contact]="contact" (deleteContact)="updateList($event)"></app-contact-card>
        </ng-container>
    </div>

    <button [routerLink]="'/main/add-contact'" [disabled]="!isUserAdmin()">Add Contact</button>
</section>