.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}


.row {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}


.flex-item {
  flex: 1;
}

.action {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}


.row .flex-item {
  margin-right: 10px;
}

.row .flex-item:last-child {
  margin-right: 0;
}

.cancel-button {
  margin-top: 10px; // Adjust the margin as needed to position the "Cancel" button
}