<mat-toolbar color="primary">
   
    <span [routerLink]="['./contact-list']">TS</span>
    <span class="example-spacer"></span>
    <!-- <button mat-raised-button (click)="openEditContact()">Add Contact</button> -->
    <!-- <button mat-raised-button [routerLink]="['/contact-list/add-contact']">Add Contact</button> -->


  </mat-toolbar>
  <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
  <router-outlet></router-outlet>
  <app-footer></app-footer>

  <!-- //contact-list/add-contact -->