<body>
    <br><br><form [formGroup]="form" (ngSubmit)="singUp()">
        Name:
        <input type="text"  name="name" formControlName="name">
        <ng-container *ngIf="form.controls['name'].errors | oneError:['minlength','startsWithUpperCase'] as errors">
          <div class="error" *ngIf="form.controls['name'].errors?.['required']&&form.controls['name'].dirty">Name is required</div>
          <div class="error" *ngIf="errors?.['minlength']&&form.controls['name'].dirty">Name must be at least 2 chars long</div>
          <div class="error" *ngIf="errors?.['startsWithUpperCase']">Name must start with uppercase</div>
          </ng-container>
        <br>
        Mobile:
        <input type="text" name="mobile" formControlName="mobilenumber">
        <div class="error" *ngIf="form.controls['mobilenumber'].errors?.['required']&&form.controls['mobilenumber'].dirty">Mobile is required</div>
        <div class="error" *ngIf="form.controls['mobilenumber'].errors?.['minlength']&&form.controls['mobilenumber'].dirty">
          Mobile must be at least 8 numbers long</div>
        <br> 
        Email:
        <input type="text"  name="email" formControlName="email">
        <ng-container *ngIf="form.controls['email'].errors">
          <div class="error" *ngIf="form.controls['email'].hasError('required')&&form.controls['email'].dirty">Email is required</div>
          <div class="error" *ngIf="form.controls['email'].hasError('unique')&&form.controls['email'].dirty">Email must be unique</div>
        </ng-container>
        <br>
        Password:
        <input type="password"  name="password" formControlName="password">
        <ng-container *ngIf="form.controls['password'].errors">
          <div class="error" *ngIf="form.controls['password'].hasError('required')&&form.controls['password'].dirty">Password is required</div>
          <div class="error" *ngIf="form.controls['password'].hasError('unique')&&form.controls['password'].dirty">Password must be unique</div>
          </ng-container>
        <br>
        Role:
        <select id="role" formControlName="role">
          <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
        </select>
        <br>
        <button [disabled]="!form.valid" type="submit">Confirm</button>
        <button type="button" [routerLink]="'/login'">Back to login</button>
      </form>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </body>

