
<div class="header">
  <h1>Angular Training</h1>
  <p>Discover the magic of Angular and build amazing web applications.</p>
  <p>Remaining time : {{remainingDays }} days</p>
  <!-- <button class="cta-button" [routerLink]="['/contact-list']">Open Project</button> -->
  <button class="login-button" [routerLink]="['/login']">Login</button>
</div>

<div class="main-content">
  <section class="feature">
    <h2>Key Features</h2>
    <p>Create & Update your contacts depending on your needs.</p>
  </section>

  <section class="about">
    <h2>About the project</h2>
    <p>This project focuses on developing a straightforward application designed for creating, adding, and deleting contacts within your contact list.</p>
  </section>

  <section class="get-involved">
    <h2>Get Involved</h2>
    <p>Click <a href="https://github.com/AngularTrainingTeamSystem/AngualrTrainingTeamSystem" >here</a> to see the code </p>
  </section>
</div>

