
  


    <!-- <button  id="homeButton"  >Home</button> -->
<div *ngIf="contact">
    <div >
    <form>
        <label >Edit Contact</label>
        <!-- <label for="contactId" hidden>Contact ID:</label>
        <input type="text" id="contactId" name="contactId" value="{{contact.contactId}}" hidden>  -->

        <label for="mobilenumber">Mobile Number:</label>
        <input type="text" id="mobilenumber" name="mobilenumber" value="{{contact.mobilenumber}}">
        <h3></h3>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required value="{{contact.name}}">

        <label>
            <input type="checkbox" id="isActive" name="isActive" [checked]="contact.isActive" > Active
        </label>

        <label>
            <input type="checkbox" id="isFavorite" name="isFavorite"  [checked]="contact.isFavorite"> Favorite
        </label>

        <label>
            <input type="checkbox" id="isDeleted" name="isDeleted"  [checked]="contact.isDeleted"> Deleted
        </label>

        <label for="contactDateCreated">Contact Date Created:</label>
        <input type="date" id="contactDateCreated" name="contactDateCreated" required value="{{contact.contactDateCreated}}">

        <!-- <button type="submit" (ngSubmit)="onUpdateSubmit()" >Submit</button> -->
    </form>
</div>


